body{
  font-family: Roboto;
}



.myclass{

    font-size: 30px;
    color:crimson;
    text-align: center; 
  }
  .nav-item.active{
    border-bottom:2px solid crimson ;
    color: crimson !important;
  
    
  }
  .navbar-collapse{
    margin: auto;
    display: flex;
    align-items: center;
  }
  