#about{
    overflow: hidden;
    width: 100vw;
    /* max-width: 65rem; */
    height: 90vw;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    text-align:center;
    margin: 0;
    background-color:gray;
}
.title{
    font-size: 3rem;
    font-weight: 600;
    padding-left: 1rem;
    margin-bottom: 1.Srem;
    text-align: center;
    display: flex;
    justify-content: center; 
}
.abouts{
    margin-top: 6rem;
    display: flex;
}
.about-pic{
    width:20rem;
    height:20rem;
    margin-top: 5rem;
}
.exp_img{
    width: 2rem;
}
.edu_img{
    width: 3rem;
}
.about_1{
    height:10rem;
    width: 15rem;
    display: flex;
    margin: 1rem;
    padding:1.5rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    text-align: center;
}
.about_2{
    height:10rem;
    width: 15rem;
    display: flex;
    margin: 1rem;
    padding:1.5rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    text-align: center;
}