*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:50%;
}
.container{
    width: 800px;
    padding: 20px;
    margin-bottom:50%;

    
}

.bg-primary{
    background-color: blueviolet!important;

}
.icon{
    display: flex;
    padding-right: 20px;
    max-height: 100;
}
.btn-primary{
    background-color: blueviolet;
}
{  
font-family: Lato;
}
p{
    font-size: 20px;
}
h3{
    font-size: 20px;
}
 .ms-2{
    font-size:20px ;

} 

.bi{
    flex: 0.3;
    max-width: 300px;
     padding-right: 25px;
     
}


.mt-7{
    /* margin-top: 90%; */
    /* margin-left:45px; */
    /* align-items: center;  */
    
}

.Icon{
    font-size: 25px;
    align-items: center;
    margin-top: 100px;
    margin-left:45px;
}
.msg{
    margin-left: 15%;
}

.info{
    margin-top: 50px;
    align-items:center;
    
    
}
